Repository amqp-node/amqplib: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx biome format {staged_files} --write
  stage_fixed: true

lint:
  run: npx biome lint {staged_files} --write
  stage_fixed: true

Refactored callback_api tests to node test runner
  package.json
  test/callback_api.js
  test/callback_api.test.js
  test/util.js
Due: lint

refactor(connect): replace url-parse with WHATWG URL and remove dependency
  lib/connect.js
  package-lock.json
  package.json
  test/connect.js
Due: format, lint

Fix TLS connection failure when hostname is an IP address
  lib/connect.js
Due: format, lint

Replace url-parse with WHATWG URL API
  lib/connect.js
  package-lock.json
  package.json
Due: format, lint

Fix AssertionError crash when backpressure empties newStreams in Mux
  lib/mux.js
  test/mux.test.js
Due: format, lint

Update changelog in preparation for v1.0.3
  CHANGELOG.md
Due: none

1.0.3
  package-lock.json
  package.json
Due: none

Update build to use RabbitMQ 4.2
  .github/workflows/publish.yml
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
Due: none

Fix memory leak in ConfirmChannel.publish when channel is closed
  CHANGELOG.md
  lib/callback_model.js
  lib/channel_model.js
  test/callback_api.test.js
  test/channel_api.test.js
Due: format, lint

Timeout tests after 1s
  Makefile
Due: none

Increase test timeout for github action
  Makefile
Due: none

Moving test timeout to package.json
  Makefile
  package.json
Due: none

Fix: close connection immediately when blocked
  CHANGELOG.md
  lib/connection.js
  test/connection.test.js
Due: format, lint

Fix test-all-nodejs target
  Makefile
Due: none

Prepare for release
  CHANGELOG.md
Due: none

1.0.4
  package-lock.json
  package.json
Due: none

Bump Node 18 in the makefile to a version which supports the spec reporter
  Makefile
Due: none

Update channel_api.md for v1.0.4
  channel_api.md
Due: none

Fix: confirm callbacks silently dropped on channel close when some publishes had no callback
  lib/channel.js
  lib/channel_model.js
  test/channel.test.js
Due: format, lint

Update CHANGELOG for #191 fix
  CHANGELOG.md
Due: none

Docs: clarify waitForConfirms rejects on channel close and short-circuits on first failure
  channel_api.md
Due: none

Prep for release
  CHANGELOG.md
Due: none

1.0.5
  package-lock.json
  package.json
Due: none

Update node 18 in makefile
  Makefile
Due: none

Fix: channel.get() does not yield errors to the callback (#832)
  CHANGELOG.md
  lib/callback_model.js
  lib/channel.js
  lib/channel_model.js
  test/callback_api.test.js
  test/channel_api.test.js
Due: format, lint

Remove stale comment from Get from non-queue invokes error test
  test/callback_api.test.js
Due: lint

Update changelog with migration notes for #832 fix
  CHANGELOG.md
Due: none

1.0.6
  package-lock.json
  package.json
Due: none

Embed TypeScript type definitions into the package (#843)
  .github/workflows/test.yml
  .npmignore
  callback_api.d.ts
  index.d.ts
  lefthook.yml
  lib/properties.d.ts
  package-lock.json
  package.json
  tsconfig.types.json
  types/callback_api.ts
  types/channel_api.ts
Due: none

Tighten callback err types from any to Error; add changelog entry for types
  CHANGELOG.md
  callback_api.d.ts
Due: none

Yield recovery wrapper from waitForConnect
  lib/recovery.js
Due: format, lint

Path conditions:
  format: any of: **/*.js, but not: test/*.js
  lint: any of: **/*.js
